* {
	margin: 0;
	padding: 0;
}
body {
	display: flex;
}
/*la section photo avec le logo*/
#photo {
	max-width: 50%;
	position: relative;
}
/*l'image de l'hotel remplis toute la largeur de la div qui la contient*/
#photo img:first-child {
	height: 100vh;
	max-width: 100%;
}
/*le logo*/
#photo img:last-child {
	position: absolute;
	top: 0;
	left: 0;
	width: 20%;
}
/*la section des infos de l'hotel*/
#infos {
	margin: auto;
	text-align: center;
}
#infos p {
	font-size: 60px;
	font-weight: bold;
	color: orange;
}
